  <nav class="my-5">
    <ul class="pagination justify-content-end">
      {% if page_obj.has_other_pages %}
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">«</span> </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" aria-label="Previous"><span aria-hidden="true">«</span> </a>
        </li>
      {% endif %}

      {% for i in pages_count %}
        {% if page_obj.number == i  %}
          <li class="page-item  active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" aria-label="Next"><span aria-hidden="true">»</span></a></li>
      {% endif %}
      {% endif %}
    </ul>
  </nav>

