{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block page_header %}
  <h1>Автор сайта</h1>
  <span class="subheading">краткий анамнез</span>
{% endblock page_header %}
{% block content %}
  <article>
    <div class="container">
      <div class="row">
        <h1>Немного обо мне</h1>
        <div class="col-md-10 col-lg-8 mx-auto">
          <p>
            Хороший, очень хороший мальчик, но бездельник и мот. Характер сварливый. Женат, завел собаку и ребенка.
          </p>
          <h2 class="section-heading">Увлечения</h2>
          <p>
            Играет в орлянку, карты а также Dota 2, прожигая кресло и несчитанные часы своей жизни. К просьбам ребенка не играть в игру "где ты так психуешь" остается глух.
          </p>
          <figure>
            <blockquote class="blockquote">
              <p class="mb-0">
                Всякая игра нужна и важнее многих дел. Лев Толстой.
              </p>
            </blockquote>
          </figure>
          <h2 class="section-heading">Работа</h2>
          <p>
            Долгое время работаю в области разработки ПО и управления в ИТ. Директор по ИТ в одном из предприятий ГК "Ростех"
          </p>
          <figure>
          </div>
        </div>
      </div>
    </div>
  </article>
{% endblock content %}
